# فایل‌های مخفی و متادیتا
.git
.gitignore

# فایل‌های کش پایتون
__pycache__
*.pyc
*.pyo
*.pyd

# دایرکتوری‌های محیط مجازی
venv/
env/

# فایل‌های لاگ و دیتابیس محلی
*.log
*.sqlite3

# فایل‌های استاتیک و مدیا که توی داکر جمع‌آوری می‌شن
static/
media/

# فایل‌های موقتی و بکاپ
*.bak
*.swp
*~

# دایرکتوری‌های توسعه
tests/
docs/

# فایل‌های کانفیگ محلی
local_settings.py